body {
	/* TODO: make this image progressive instead of baseline */
	background-image: url("../images/rustictealwood-wallpapers-desktop-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h2, p {
	color: white;
}
